@using System.Collections.Generic;
@using System.Web.Mvc;

@model TeamWayPath.Feature.SuperScripts.Models.DisplayScriptViewModel

<script type="text/javascript" src="/sitecore/shell/controls/lib/jsnlog/jsnlog.min.js"></script>
<script src="/sitecore/shell/controls/lib/prototype/prototype.js" type="text/javascript"></script>
<script src="/sitecore/shell/controls/Browser.js" type="text/javascript"></script>
<script src="/sitecore/shell/controls/Sitecore.js" type="text/javascript"></script>
<script src="/sitecore/shell/controls/SitecoreObjects.js" type=""></script>
<script src="/sitecore/shell/controls/SitecoreWindowManager.js" type=""></script>
<script src="/sitecore/shell/controls/lib/scriptaculous/scriptaculous.js?load=effects" type=""></script>
<script type="">
    scSitecore.prototype.setModified = function (value) { this.modified = false; }
</script>
<script type="text/javascript">
    Event.observe(window, "load", function () { if (window.scForm) { window.scForm.registerLaunchpadClick(); } });
</script>

<div>
    @foreach (var item in Model.ScriptItems)
    {
        <div>
            <a class="scriptlink" data-id="@item.Guid" href="@item.Url">@item.Title</a>
        </div>
    }
</div>

