@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    And to think.  I almost didn't get Sitecore installed.
    </div>
</body>
</html>
