<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration
                  name="Foundation.Serialization"
                  description="Root items"
                  extends="Helix.Base">
                    <predicate>
                        <include name="$(layer).$(module).ClientApps.Feature" database="core" path="/sitecore/client/Your Apps/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="$(layer).$(module).Templates.Feature" database="core" path="/sitecore/templates/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="$(layer).$(module).Renderings.Feature" database="core" path="/sitecore/layout/Renderings/Feature">
                            <exclude children="true" />
                        </include>
                        <include name="$(layer).$(module).LaunchPad.Buttons" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Modules">
                            <exclude children="true" />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>